body {
    display: flex;
    height: 100vh;
    flex-direction: column-reverse;
    justify-content: center;
    background-color: seashell;
}
.ballon { 
    width: 200px;
    height: 200px;
    margin: 0 auto 10px; 
    border-radius:50%;
} 
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}